body {
	margin: 28px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: justify;
	font-size: 15px;
	line-height: 1.6;
}

@media print {
	body {
		-webkit-print-color-adjust: exact;
		width: 8.3in;
		font-size: 14px;
	}
}

.example {
	background-color: yellow;
}

.joke {
	font-size: xx-small;
}

h1 {
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 2.4em;
}

h1+p {
	margin-top: 1em;
}

h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: 600;
}

h2 {
	margin-top: 1.6em;
	font-size: 1.9em;
}

h2+h3,
h2+p {
	margin-top: 1em;
}

h3 {
	margin-top: 1.6em;
	font-size: 1.4em;
}

h3+h4,
h3+p {
	margin-top: 1em;
}

h4 {
	margin-top: 1.6em;
	font-size: 1.2em;
}

h4+h5,
h4+p {
	margin-top: 1em;
}

h5 {
	margin-top: 1.6em;
	font-size: 1.1em;
}

h5+h6,
h5+p {
	margin-top: 1em;
}

h6 {
	margin-top: 1.6em;
	font-size: 1.0em;
}

div {
	margin: 1em 0;
}

p {
	margin: .6em 0;
}

a {
	color: #0473bc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

svg {
	display: inline-flex;
	align-self: center;
	fill: currentColor;
	stroke: currentColor;
	stroke-width: 0;
}

img {
	max-width: calc(100% - 2.6em);
	margin: 1.3em;
	min-height: 23px;
}

input[type="text"] {
	padding: .3em;
	font-family: 'consolas';
	border: solid 1px #ccc;
	border-radius: 2px;
}

input[type="number"] {
	padding: .3em;
	font-family: 'consolas';
	border: solid 1px #ccc;
	border-radius: 2px;
}

input[type="radio"] {
	display: inline-block;
	height: 1em;
	line-height: 1em;
	vertical-align: top;
}

textarea {
	font-family: consolas;
}

ul,
ol {
	margin: 1em 0 1em 1.6em;
	position: relative;
}

ul {
	margin-left: 1.8em;
	list-style-type: circle;
}

li {
	margin-bottom: .6em;
	word-wrap: break-word;
}

li>ul,
li>ol {
	margin: .6em 0 .6em 1.6em;
}

li ul>li {
	list-style-type: disc;
}

li li ul>li:not([class]) {
	list-style-type: none;
}

li li ul>li:not([class]):before {
	content: "\2212";
	position: absolute;
	left: -1.2em;
}

li img {
	margin: .6em auto;
}

button {
	padding: .2em .4em;
}

button>svg {
	vertical-align: top;
}

blockquote {
	margin: 1.6em 0;
	padding: 1em 1.6em;
	border-left: 8px solid #eaeaea;
	background-color: #f7f7f7;
}

blockquote blockquote {
	border-left: 8px solid #e3e3e3;
	background-color: #f0f0f0;
}

blockquote blockquote blockquote {
	border-left: 8px solid #dbdbdb;
	background-color: #e8e8e8;
}

blockquote blockquote blockquote blockquote {
	border-left: 8px solid #d4d4d4;
	background-color: #e0e0e0;
}

blockquote blockquote blockquote blockquote blockquote {
	border-left: 8px solid #ccc;
	background-color: #d9d9d9;
}

blockquote>*:first-child {
	margin-top: 0;
}

blockquote>*:last-child {
	margin-bottom: 0;
}

pre {
	margin: 1em 0;
	padding: 1em !important;
	overflow-x: auto;
	font-size: .9em;
	line-height: 1.2;
}

code {
	font-family: consolas;
	word-break: keep-all;
	word-wrap: break-word;
	line-height: 1.2;
}

pre>code table {
	margin: 0;
	border: 0;
}

pre>code table td {
	padding: 0;
	border: 0;
}

pre>code table td>pre {
	padding: 0 1em;
}

*:not(pre)>code {
	display: inline-block;
	margin: 0;
	padding: .2em .4em;
	font-size: .875em;
	background: #f0f0f0;
	border-radius: 3px;
}

blockquote *:not(pre)>code {
	background: #e8e8e8;
}

blockquote blockquote *:not(pre)>code {
	background: #e0e0e0;
}

blockquote blockquote blockquote *:not(pre)>code {
	background: #d9d9d9;
}

blockquote blockquote blockquote blockquote *:not(pre)>code {
	background: #d1d1d1;
}

blockquote blockquote blockquote blockquote blockquote *:not(pre)>code {
	background: #c9c9c9;
}

pre.highlight,
figure.highlight {
	border: 1px solid #e8e8e8;
}

.highlight pre {
	tab-size: 4;
}

.seq-diagram {
	text-align: center;
	overflow: auto;
}

.flow-diagram {
	text-align: center;
	overflow: auto;
}

table {
	margin: 1.6em 0;
	width: 100%;
	text-align: left;
	color: #3f3f3f;
	border-collapse: collapse;
	border: 1px solid #e8e8e8;
}

table tr:nth-child(odd) {
	background: #fafafa;
}

table tr:nth-child(even) {
	background: #f7f7f7;
}

table th,
td {
	padding: .5em .8em;
}

table th {
	background: #f0f0f0;
	border: 1px solid #dedede;
	border-bottom-width: 2px;
}

table td {
	border: 1px solid #e8e8e8;
}

table td>p:first-child {
	margin-top: 0;
}

table td>p:last-child {
	margin-bottom: 0;
}

hr {
	margin: 3.6em 0;
	width: 100%;
	border-top: none;
	border-bottom: 1px solid #ddd;
}

figure {
	display: inline-block;
	text-align: center;
}

caption,
figcaption {
	display: block;
	margin: 0 0 1.6em 0;
	color: #888;
	font-size: .875em;
	text-align: center;
}

caption,
figcaption>strong {
	user-select: none;
	margin-right: .5em;
}

highlight {
	font-weight: 600;
	box-shadow: inset 0 -6px 0 #ffee58;
}
