/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â© Yonah Aviv 2020: for resuse with modification, insert the following at the top of your code: \"originally by Yonah Aviv mm/dd/yyyy email: avivyonah@gmail.com*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  line-height: 1em;
  /* overflow-x: visible; */
  /* background: transparent; */
}

::-moz-selection {
  color: #000;

  background: yellow;
}

::selection {
  color: #000;

  background: yellow;
}
@media (prefers-color-scheme: dark) {
  .contets {
    background: #434343;
  }
  .history-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 3px;
  }
  textarea {
    background: rgba(255, 255, 255, 0.1);
  }
  a {
    text-decoration-line: none;
  }
  i:not(.side_ctrl) {
    font-size: 2em;
  }

  body {
    width: 100%;
    margin: 0 0 0 0;
    padding-left: 0.5px;
    margin-right: 10px;
    border-right: 2px transparent solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 2%;
    background-color: #424242;
    color: #fff;
  }

  button,
  .button {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    /* margin: 0; */
    /* padding: 3px; */
    border-radius: 50%;
    color: lightgrey;
    border: 2px outset #ff8c00;
    background: #5c5c5c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    user-select: none;
    cursor: pointer;
  }
  button:enabled:hover,
  .button:enabled:hover,
  a.button:hover {
    background: #212121;
    color: #ff8c00;
    border: 2px solid #5c5c5c;
    transition-property: border;
    transition-duration: 100ms;
    -webkit-transition-property: border;
  }
  button.back {
    display: none;
    color: orange;
  }
  button.back:hover {
    animation-fill-mode: both;

    animation-direction: normal;

    animation-timing-function: step-end;

    animation-play-state: running;

    animation-iteration-count: infinite;

    animation-name: name;
  }

  button.bright {
    background: #5c5c5c;
    color: #07285c;
  }
  button.bright:hover {
    color: #7daef0;
  }
  button.options .st0 {
    fill: none;

    stroke: orange;
  }

  button.options {
    /* line-height: 0; */
    /* font-size: 0;
  }

  button.options:enabled:hover {
    /* border: 1px solid #ccc; */
    /* color: #ccc; */
  }

  h5 {
    color: orange;
  }

  i.material-icons {
    transform: scale(1);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }

  textarea {
    border-radius: 5px;
    position: relative;
    max-width: 140px;
    background: rgba(102, 102, 102, 0.985);
    margin-right: -25px;
    overflow: auto;
    scrollbar-width: thin;
    padding: 0.3em 0.5em 0.3em 0.5em;

    width: calc(140px - 0.2em);

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: textfield;

    margin: 0 0 1px;

    height: 6em;

    line-height: 1.4em;

    -webkit-transition: all 300ms ease;

    -o-transition: all 300ms ease;

    transition: all 300ms ease 0ms;

    border: none;

    font-size: 12px;

    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    -ms-border-radius: 5px;

    -o-border-radius: 5px;
  }

  textarea.bit-mode:hover {
    -webkit-box-shadow: inset 0 0 0 0 orange;

    box-shadow: inset 0 0 0 0 orange;

    background: orange;
  }

  textarea.click-open {
    height: 8em;
  }

  textarea::-moz-selection {
    background: #ffff00;
  }

  textarea::selection {
    background: #ffff00;
  }

  textarea:hover {
    -webkit-box-shadow: inset 0 0 0 2px orange;

    box-shadow: inset 0 0 0 2px orange;
  }
  .textarea {
  }
  ul {
    list-style-type: none;
  }
}

.alert {
  color: orange;

  font-weight: bold;

  display: none;

  line-height: 1.2em;

  padding-bottom: 5px;
}

.app_ttl .version {
  opacity: 0.7;

  font-weight: 100;

  font-size: 15px;

  margin-left: 0.5em;
}

.app_ttl {
  display: none;
  left: 288px;
  /* float:  right; */
  width: 43%;
  margin: 16%;
  /* top: -186px; */
  position: relative;
  border-bottom: 1px solid #fff;
  font-weight: 200;
  height: 75px;
}
.expansion .app_ttl {
  left: 100px;
}
.side_ctrl button:hover {
  color: orange;
}

.button svg,
button svg {
  width: 14px;
  height: 14px;
}

.button.download,
button.download {
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #666;
}
.button.download .st0,
button.download .st0 {
  fill: none;
  stroke: white;
}
.button.download:enabled:hover,
button.download:enabled:hover {
  border: 1px solid orange;
  color: orange;
  border-radius: 50%;

  background: white;
}
.button.download:enabled:hover .st0,
button.download:enabled:hover .st0 {
  fill: none;
  stroke: orange;
}

.button:disabled,
button:disabled {
  opacity: 0.85;
}

.button:enabled .st0,
button:enabled .st0 {
  fill: none;

  stroke: white;
}
.button.onclick,
button.onclick {
  color: orange;

  stroke: #666;
}

.contets .contets_scroll {
  width: 320px;
}
.contets.scrolll {
  width: 165px;
}
.contets {
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.contets.expansion #qr canvas {
  width: 156px;
  /* border: 5px #fff solid; */
  /* border-radius: 0%; */
  transform: scale(1.25);
}

.contets.expansion #qr {
  width: 256px;
  height: 256px;
  border: 5px #fff solid;
  border-radius: 11%;
  background: #fff;
}

.contets.expansion .contets_inline.options {
  -webkit-transform: translateX(-276px);

  -ms-transform: translateX(-276px);

  transform: translateX(-276px);

  -moz-transform: translateX(-276px);

  -o-transform: translateX(-276px);
}

.contets.expansion .contets_scroll {
  width: 552px;
}

.contets.expansion .history-list {
  height: 90%;
}

.contets.expansion .qr textarea {
  font-size: 12px;
  min-height: 30px;
  min-width: 105px;
  max-width: 256px;
  width: calc(256px - 0.2em);
}

.contets.expansion .qr {
}
.contets.expansion {
  width: 286px;
  margin-left: 10px;
}

.contets_inline {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-transition: all 150ms ease;

  -o-transition: all 150ms ease;

  transition: all 150ms ease;
}

.contets_inline.options {
  -webkit-transform: translateX(-160px);

  -ms-transform: translateX(-160px);

  transform: translateX(-160px);
}

.ctrl {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;

  position: absolute;

  bottom: 5px;

  width: calc(100% - 25px);

  user-select: none;
}

.drive {
  width: 32px;

  height: 32px;

  background: green;

  border: 1px solid green;
}

.drive:hover .fill-color {
  fill: #2e8b57;
}

.drive:hover {
  border: 1px solid green;
}

.googo:hover .fill-color {
  fill: orange;
}
.history-clear {
  display: none;
}

.history-list li dl dd {
  margin-top: 0.5em;
  line-height: 1.8em;
  font-size: 7px;
  color: rgba(255, 255, 255, 0.3);
}

.history-list li dl dt {
  font-size: 11px;

  line-height: 1.6em;
}

.history-list li dl {
  padding: 5px 0.5em;

  word-break: break-word;
}

.history-list li {
  overflow: hidden;

  text-align: left;

  word-wrap: normal;

  border-bottom: 1px solid rgba(102, 102, 102, 0.2);

  line-height: 1.2em;

  cursor: pointer;
  filter: hue-rotate(0%);
}

.history-list li:hover dl dd {
  color: rgba(255, 255, 255, 0.6);
}
.history-list li:hover dl dt {
  color: #fff;
}

.history-list li:hover {
  color: white;
  background: #f1a949;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.2);
}
.history-list li:last-child {
  border: none;
}

.history-list {
  height: 92%;
  /* border-bottom: 4px #656565 solid;
  border-left: 4px solid #656565;
  border-top: 4px solid #656565; */
  margin: 4px 0;
  border-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  padding: 0px 6px;
  overflow: auto;
  /* margin-left: -12px; */
  margin-right: 0px;
  width: -webkit-fill-available;
  padding-right: 12px;
  max-width: 150%;
}

.history_block {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  border: #a85d5d00 2px solid;
  border-radius: 0px 7px 7px 0px;
  /* float: left; */
  background-color: #5c5c5c;
  transition: background-color 150ms ease;
  /* background-clip: border-box; */
}
.contets_inline.options .history_block {
  background-color: #434343;
}
.paste i {
  margin: 15%;
  /* vertical-align: middle; */
}
svg.material-icons,
i.material-icons {
  opacity: 1;
  font-size: 1.5em;
  vertical-align: middle;
}

.qr .download {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 32px;
  height: 32px;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
}
.qr textarea {
  color: #fff;
}

.qr {
  padding: 10px 10px 43px;
  position: relative;
  background-color: #5c5c5c;
}

.qr_wrap {
  position: relative;
  background: #fff;
  border-radius: 9%;
  border: 5px white solid;
  margin-bottom: 10px;
}

.qr_wrap:hover .download {
  visibility: visible;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

ul button,
ul .button {
  height: 24px;
  width: 24px;
  text-align: center;
  vertical-align: middle;
  margin: 2px 0;
  border: 2px solid #5c5c5c00;
  border-radius: 5px 0 0 5px;
  border-right: none;
}

ul button:enabled:hover,
ul .button:enabled:hover {
  border-right: none;
}
.undo {
  display: none;
  /* left: -9px; */
  margin-left: 0;
}
.bright i {
  margin: 5%;
  text-align: center;
  vertical-align: middle;
}
#qr canvas {
  width: 100px;

  -webkit-transition: all 300ms ease 200ms;

  -o-transition: all 300ms ease 200ms;

  transition: all 300ms ease 200ms;
}
.qr_wrap.zoom {
  cursor: help;
}
.contets_inline.options p.options {
  display: none;
}

#qr {
  font-size: 0;

  width: 140px;

  height: 140px;

  left: 0;

  right: 0;

  margin: 0;

  text-align: center;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;

  -webkit-transition: all 0 ease 0;

  -o-transition: all 0 ease 0;

  transition: all 0 ease 0;
}

p.options {
  padding: 8%;
  top: 25%;
  z-index: 0;
  margin: 15%;
  font-family: monospace;
  cursor: pointer;
  /* vertical-align: middle; */
  /* position: absolute; */
}

h4 {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  text-align: center;
}

h4:hover {
  color: orange;
}
#qr:hover {
  /*   -webkit-box-shadow: 0 0 0 1px rgba(102, 102, 102, 0.5);

  box-shadow: 0 0 0 1px rgba(102, 102, 102, 0.5); */
}
body.light {
  background: #fff;
  color: #232323;
}
dl.light {
  color: darkslategray;
}
dl.light {
  color: #232323;
}
textarea.light {
  background: white;
  color: #000000;
}
.normal {
  filter: invert(0%);
}
.qr textarea.light {
  color: black;
}
.qr.light {
  background: lightslategray;
}
.inverted:not(.qr_wrap):not(button) {
  filter: invert(100%);
}
.contets.light {
  background: #edf6ff;
}
button.light,
.button.light {
  /* background: transparent; */
  color: slategray;
  border-color: #ff8c00;
}
i.light {
  color: white;
  /* align-items: center; */
}
button.light:hover i.light,
.button.light:hover i.light {
  color: #666;
}
ul i.light:hover {
  color: white;
}
button.light:hover,
.button.light:hover {
  background: #eef8ff;
  border-color: lightsteelblue;
  color: lightgrey;
}
button.bright.light {
  background: slategray;
  color: black;
}
button.bright.light:enabled:hover {
  color: #fff176;
}
.history_block.light {
  background-color: #b6bec5;
}
.history-list li.light:hover {
  filter: hue-rotate(45deg);
  border-color: transparent;
  color: black;
}
.contets_inline.options.light .history_block {
  background-color: #d2e8ff;
}
ul.light button,
ul.light .button {
  background-color: #778899;
  border-color: transparent;
  border-right-color: transparent;
}
ul.light .button:hover,
ul.light button:hover {
  color: lightgrey;
  border: solid #789;
  border-right: none;
}
.history-list.light dd {
  color: #778899;
}
dl.light {
  color: #232323;
}
.light .ps__rail-y:hover > .ps__thumb-y,
.light .ps__rail-y:focus > .ps__thumb-y,
.light .ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #666;
}
@media (prefers-color-scheme: light) {
  button.copy {
    background: grey;
  }
}

ul.side_Ctrl {
  display: flex;
  flex-direction: column;
  width: 25px;
  flex-grow: 10;
  margin: 38% -2px 16px 2px;
  height: 53px;
  padding: 0;
  float: left;
}

i.material-icons r {
  position: relative;
}
